{% extends 'base.html.twig' %}

{% block menu %}
    <div class="header-bottom">
        <div class="container">
            <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
                <div id="kt_header_menu" class="header-menu header-menu-left header-menu-mobile  header-menu-layout-default ">
                    <ul class="menu-nav">
                        <li class="menu-item menu-item-rel">
                            <a href="{{ path('user_index') }}" class="menu-link">
                                <span class="menu-text">Студенты</span>
                            </a>
                        </li>
                        <li class="menu-item menu-item-rel">
                            <a href="{{ path('skill_index') }}" class="menu-link">
                                <span class="menu-text">Навыки</span>
                            </a>
                        </li>
                        <li class="menu-item menu-item-rel">
                            <a href="{{ path('stage_index') }}" class="menu-link">
                                <span class="menu-text">Этапы</span>
                            </a>
                        </li>

                        <li class="menu-item menu-item-rel">
                            <a href="{{ path('user_stage_progress_index') }}" class="menu-link">
                                <span class="menu-text">Прогресс</span>
                            </a>
                        </li>

                        <li class="menu-item menu-item-rel">
                            <a href="{{ path('user_education_index') }}" class="menu-link">
                                <span class="menu-text">Образование</span>
                            </a>
                        </li>

                        <li class="menu-item menu-item-rel">
                            <a href="{{ path('vacancy_index') }}" class="menu-link">
                                <span class="menu-text">Вакансии</span>
                            </a>
                        </li>
                        <li class="menu-item menu-item-rel">
                            <a href="{{ path('company_index') }}" class="menu-link">
                                <span class="menu-text">Компании</span>
                            </a>
                        </li>
                        <li class="menu-item menu-item-rel">
                            <a href="{{ path('education_index') }}" class="menu-link">
                                <span class="menu-text">Учебные заведения</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
