{% extends 'admin/layout.html.twig' %}
{% block title %}UserEducation index{% endblock %}

{% block body %}
    <h1>UserEducation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_education in user_educations %}
            <tr>
                <td>{{ user_education.id }}</td>
                <td>{{ user_education.startDate ? user_education.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user_education.endDate ? user_education.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('user_education_show', {'id': user_education.id}) }}">show</a>
                    <a href="{{ path('user_education_edit', {'id': user_education.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_education_new') }}">Create new</a>
{% endblock %}
