{% extends 'hirer/layout.html.twig' %}

{% block title %}{{ company.title }}{% endblock %}
 {% block button_actions %}
     <div class="d-flex align-items-center">
         <a href="custom/apps/projects/add-project.html" class="btn btn-light-primary font-weight-bold ml-2">Редактировать компанию</a>
     </div>
 {% endblock %}
{% block company_info %}
<div class="card card-custom gutter-b">
    <div class="card-body">
        <div class="d-flex">
            <!--begin: Pic-->
            <div class="flex-shrink-0 mr-7 mt-lg-0 mt-3">
                <div class="symbol symbol-50 symbol-lg-120">
                    <img alt="Pic" src="assets/media/project-logos/3.png"/>
                </div>

                <div class="symbol symbol-50 symbol-lg-120 symbol-primary d-none">
                    <span class="font-size-h3 symbol-label font-weight-boldest">JM</span>
                </div>
            </div>
            <div class="flex-grow-1">
                <div class="d-flex align-items-center justify-content-between flex-wrap">
                    <div class="mr-3">

                        <a href="#" class="d-flex align-items-center text-dark text-hover-primary font-size-h5 font-weight-bold mr-3">
                            {{ company.title }} <i class="flaticon2-correct text-success icon-md ml-2"></i>
                        </a>
                        <div class="d-flex flex-wrap my-2">
                            <a href="#" class="text-muted text-hover-primary font-weight-bold">
                                <span class="svg-icon svg-icon-md svg-icon-gray-500 mr-1"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect x="0" y="0" width="24" height="24"/>
        <path d="M9.82829464,16.6565893 C7.02541569,15.7427556 5,13.1079084 5,10 C5,6.13400675 8.13400675,3 12,3 C15.8659932,3 19,6.13400675 19,10 C19,13.1079084 16.9745843,15.7427556 14.1717054,16.6565893 L12,21 L9.82829464,16.6565893 Z M12,12 C13.1045695,12 14,11.1045695 14,10 C14,8.8954305 13.1045695,8 12,8 C10.8954305,8 10,8.8954305 10,10 C10,11.1045695 10.8954305,12 12,12 Z" fill="#000000"/>
    </g>
</svg></span>{{ app.user.city }}</a>
                        </div>
                    </div>
                    <div class="my-lg-0 my-1">
                        <a href="#" class="btn btn-sm btn-light-success font-weight-bolder text-uppercase mr-3">Аналитика</a>
                    </div>
                </div>

                <div class="d-flex align-items-center flex-wrap justify-content-between">
                    <div class="flex-grow-1 font-weight-bold text-dark-50 py-5 py-lg-2 mr-5">
                        {{ company.description}}<br/>
                    </div>
                </div>
            </div>
        </div>

        <div class="separator separator-solid my-7"></div>

        <!--begin: Items-->
        <div class="d-flex align-items-center flex-wrap">
            <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                <span class="mr-4">
                    <i class="flaticon-file-2 icon-2x text-muted font-weight-bold"></i>
                </span>
                <div class="d-flex flex-column flex-lg-fill">
                    <span class="text-dark-75 font-weight-bolder font-size-sm">{{ company.vacancies | length }} вакансий</span>
                    <a href="#" class="text-primary font-weight-bolder">Посмотреть</a>
                </div>
            </div>
            <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                <span class="mr-4">
                    <i class="flaticon-chat-1 icon-2x text-muted font-weight-bold"></i>
                </span>
                <div class="d-flex flex-column">
                    <span class="text-dark-75 font-weight-bolder font-size-sm">0 откликов</span>
                    <a href="#" class="text-primary font-weight-bolder">Посмотреть</a>
                </div>
            </div>
            <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                <div class="d-flex flex-column flex-lg-fill">
                    <span class="text-dark-75 font-weight-bolder font-size-sm"></span>
                    <a href="#" class="text-primary font-weight-bolder"></a>
                </div>
            </div>
            <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                <div class="d-flex flex-column flex-lg-fill">
                    <span class="text-dark-75 font-weight-bolder font-size-sm"></span>
                    <a href="#" class="text-primary font-weight-bolder"></a>
                </div>
            </div>
            <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                <div class="d-flex flex-column flex-lg-fill">
                    <span class="text-dark-75 font-weight-bolder font-size-sm"></span>
                    <a href="#" class="text-primary font-weight-bolder"></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
